div.admin_page{
    text-align: center;
}

div.admin_page p a {
    font-size: 120%;
    padding: 0 10px;
}

div.admin_page table.admin_stats_table {
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
}

div.admin_page table.admin_stats_table td {
    border: 1px solid black;
    text-align: center;
}

div.admin_page table.admin_stats_table tr:first-child td {
    font-weight: bold;
}

/* Auth_page */

#system_message {
    color: #c00;
    text-align: center;
    margin-bottom: 0;
}

#admin_auth_form form table{
    margin: 0 auto;
}

#admin_auth_form form table input[type='submit']{
    float: right;
    width: 80px;
}

/* Pagination */

#paginator {
    margin-top: 20px;
}

#paginator table {
    margin: 0 auto;
    font-size: 130%;
}

#paginator table td a{
    padding: 0 2px;
}

/* Products_admin */

#admin_table_info table{
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
    border: 2px solid black;
}

#admin_table_info table td {
    border: 1px solid black;
    text-align: center;
    font-size: 110%;
}

#admin_table_info table td img.img {
    max-width: 220px;
    max-height: 125px;
    padding: 5px;
}

#admin_table_info table tr:first-child {
    font-weight: bold;
    font-size: 120%;
}

#admin_table_info h3 {
    font-size: 200%;
    margin-bottom: 5px;
}

#admin_table_info p.link_add {
    display: inline-block;
    float:right;
    font-size: 85%;
    margin-bottom: 2px;
}

#admin_table_info table.product_info {
    border: none;
}

#admin_table_info table.product_info td {
    border: none;
    border-bottom: 1px solid darkgray;
    text-align: left;
    padding-left: 5px;
    font-size: 90%;
    width: 140px;
}

#admin_table_info table {
    margin: 0 auto;
}

#admin_table_form table {
    margin: 0 auto;
    border-collapse: collapse;
}

#admin_table_form table td:last-child {
    text-align: center;
}

#admin_table_form table td input, #admin_table_form table td select, #admin_table_form table td textarea {
    width: 100%;
    border: none;
    padding: 3px;
}

#admin_table_form table td input[type='submit']:hover {
    background-color: #7cf115;
}

#admin_table_form table td {
    border: 1px solid black;
}

#admin_table_info table td ol {
    padding-left: 20px;
}

#admin_table_info table.admin_orders {
    font-size: 90%;
}

#admin_table_info table td p.red_message {
    color: red;
}

#admin_orders tr.order_position td:nth-child(2) {
    max-width: 50px;
}

#admin_orders tr.order_position td:nth-child(3):hover {
    background-color: #7cf115;
}

#admin_orders tr.order_position td:nth-child(3) a {
    font-size: 80%;
    text-decoration: none;
}